{% extends 'account/base.html' %}
{% load static %}
{% block title %}トップページ{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="lp__logo-area">
        <p class="lp__guide-text lp__guide-text--style hide-on-mobile">デジタルクーポンの作成・管理なら</p>
        <h1 class="logo logo--modifier">VoucherZ</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="lp-hero__container">
        <div class="lp-hero__content">
            <div class="lp-hero__text-area lp-hero__text-area--style">
                <p class="lp-hero__headline">紙のクーポンは、<br>もう終わり。</p>
                <p class="lp-hero__subtext">さぁ、<br>あなたのお店も。</p>
            </div>
            
            <div class="lp-hero__illustration">
                <img src="{% static 'img/LP_illust.jpg' %}" alt="" />
            </div>
        </div>
        
        <div class="lp-hero__cta">
            <p class="lp-hero__cta-guide lp-hero__cta-guide--style">デジタルクーポンの作成・管理を</p>
            <a class="lp-hero__button" href="{% url 'account:login' %}">今すぐ始める</a>
        </div>
    </div>
{% endblock %}
