{% extends "account/base.html" %}
{% load static %}
{% block title %}アカウント作成{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    <link href="{% static 'css/account_messages.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="logo">VoucherZ</h1>
    <div class="signup">
        <h2 class="signup__title">アカウント作成</h2>
        
        <div>
            {% if messages %}
                {% for message in messages %}
                    <p class="account__message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
        
        <form action="{% url 'account:signup' %}" method="POST" novalidate>
            {% csrf_token %}
            
            <!-- フォーム全体 -->
            <div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="account__error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            
            <!-- 各フィールド -->
            <div class="signup__fields">
                {% for field in form %}
                    <div class="signup__field-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="signup__field-input">
                        {% if field.name == 'password' %}
                            <div class="password-wrapper">
                                {{ field }}
                                <img id="togglePassword" src="{% static 'img/eye-slash.svg' %}" alt="パスワード表示切替" class="toggle-password">
                            </div>
                        {% elif field.name == 'password_confirm' %}
                            <div class="password-wrapper">
                                {{ field }}
                                <img id="togglePasswordConfirm" src="{% static 'img/eye-slash.svg' %}" alt="確認用パスワード表示切替" class="toggle-password">
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                    <div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="account__error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="signup__actions">
                <button type="submit" class="button-primary">登録する</button>
                <a href="{% url 'account:login' %}" class="button-secondary">戻る</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
          <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
