{% extends 'base.html' %}
{% load static %}
{% block title %}クーポン作成確認{% endblock %}
{% block extra_css %}
<link href="{% static 'css/coupon-create-confirm.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="coupon-create-confirm">
  <div class="container">
    <h2 class="title">確認画面</h2>
    <div class="container-body">
      <div class="block-coupon">
        <h3 class="block-title">詳細情報</h3>
        <div class="box box--table">
          <dl class="table">
            <div class="row">
              <dt class="label">
                <p class="label-text">タイトル</p>
              </dt>
              <dd class="value">
                <p class="value-text">夏休みキャンペーン</p>
              </dd>
            </div>
            <div class="row">
              <dt class="label">
                <p class="label-text">対象商品</p>
              </dt>
              <dd class="value">
                <p class="value-text">コーヒー</p>
              </dd>
            </div>
            <div class="row">
              <dt class="label">
                <p class="label-text">割引内容</p>
              </dt>
              <dd class="value">
                <p class="value-text">一杯無料</p>
              </dd>
            </div>
            <div class="row">
              <dt class="label">
                <p class="label-text">発行数の上限</p>
              </dt>
              <dd class="value">
                <!-- 発行数の上限があった場合と無制限の場合 -->
                <p class="value-text">100</p>
              </dd>
            </div>
            <div class="row">
              <dt class="label">
                <p class="label-text">有効期限</p>
              </dt>
              <dd class="value">
                <!-- 有効期限があった場合と無期限の場合 -->
                <p class="value-text">2025/08/28</p>
              </dd>
            </div>
            <div class="row">
              <dt class="label">
                <p class="label-text">メッセージ</p>
              </dt>
              <dd class="value">
                <!-- messageがあった場合となかった場合 -->
                <p class="value-text">この度はご来店ありがとうございます。<br>当店から夏の限定クーポンをお渡しいたします。</p>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="block-coupon">
        <h3 class="block-title">クーポン見本</h3>
        <div class="box box--coupon">
          <p class="store-name">焼きたて工房　さとう</p>
          <h4 class="campaign-title">夏休みキャンペーン</h4>
          <!-- messageがあった場合 -->
          <p class="message">この度はご来店ありがとうございます。<br>当店から夏の限定クーポンをお渡しいたします。</p>
          <div class="item coupon-code">
            <h5 class="item-label">クーポンコード:</h5>
            <p class="item-value">XXXXXXX  ※こちらは見本です</p>
          </div>
          <div class="item">
            <h5 class="item-label">対象商品:</h5>
            <p class="item-value">コーヒー</p>
          </div>
          <div class="item">
            <h5 class="item-label">割引内容:</h5>
            <p class="item-value">一杯無料</p>
          </div>
          <div class="item">
            <h5 class="item-label">有効期限:</h5>
            <!-- 有効期限があった場合と無期限の場合 -->
            <p class="item-value">
              2025/08/28
              <br><span class="suffix">まで</span>
            </p>
          </div>
        </div>
      </div>
      <div class="block-button">
        <a class="link button-primary" href="#">修正する</a>
        <form class="form" method="POST" action="#">
          {% csrf_token %}
          <button class="button-primary" type="submit">作成を完了する</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}