{% extends 'base.html' %}
{% load static %}
{% block title %}{{ coupon.title }} - クーポンコード詳細{% endblock %}
{% block extra_css %}
<link href="{% static 'css/coupon-detail-code.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="coupon-detail-code">
  <div class="container">
    <div class="block-coupon">
      <div class="box">
        <p class="store-name">{{ coupon.store.store_name }}</p>
        <h2 class="campaign-title">{{ coupon.title }}</h2>
        {% if coupon.message %}
        <p class="message">{{ coupon.message|linebreaksbr }}</p>
        {% endif %}
        <div class="qr-code" id="qrCode" data-mode="url" data-url="https://voucherz.jp{% url 'coupon:coupon_customer_view' coupon_code.coupon_uuid %}" data-size="180"></div>
        <div class="item coupon-code">
          <h3 class="item-label">クーポンコード:</h3>
          <p class="item-value">{{ coupon_code.coupon_code }}</p>
        </div>
        <div class="item">
          <h3 class="item-label">対象商品:</h3>
          <p class="item-value">{{ coupon.target_product }}</p>
        </div>
        <div class="item">
          <h3 class="item-label">割引内容:</h3>
          <p class="item-value">{{ coupon.discount }}</p>
        </div>
        <div class="item">
          <h3 class="item-label">有効期限:</h3>
          <p class="item-value">
            {% if coupon.expiration_date %}
              {{ coupon.expiration_date|date:"Y/m/d" }}<br><span class="suffix">まで</span>
            {% else %}
              無期限
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    <div class="block-button">
      <a class="link button-primary" href="{% url 'coupon:coupon_list' %}">ホームに戻る</a>
      {% if coupon.max_issuance is not None and coupon.issued_count < coupon.max_issuance %}
      <form class="form" method="POST" action="{% url 'coupon:coupon_issue' coupon.id %}">
        {% csrf_token %}
        <button class="button-primary" type="submit">クーポンを続けて発行</button>
      </form>
      {% else %}
      <p class="button-secondary">発行上限に達しました</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script
  src="{% static 'js/qr-generator.js' %}"
  type="text/javascript"
></script>
{% endblock %}