{% extends 'base.html' %} {% load static %} {% block title %}{{ coupon.title }}
ホーム {% endblock %} {% block extra_css %}
<link href="{% static 'css/coupon-detail.css' %}" rel="stylesheet" />
{% endblock %}

<!-- ページ固有のbodyを追加 -->
{% block body %}
<div class="coupon-list">
  <div class="coupon-list-header">
    <!-- DB情報：お店の名前 -->{{ store_name }} お店の名前
  </div>
  <div class="coupon-panel">
    <div class="coupon-add-card">
      <p>新しいクーポンの種類を作成</p>
      <span class="coupon-add-icon">＋</span>
    </div>

    <!-- for loop -->

    {% for coupon in coupons %}
    <div class="coupon-card">
      <div class="coupon-title">
        <p>{{ coupon.title }}</p>
        <!-- DB情報：クーポンのタイトル -->
      </div>
      <div class="coupon-info">
        <p>対象商品：{{ coupon.product_name }}</p>
        <!-- DB情報：クーポンの商品名 -->
        <p>割引内容：{{ coupon.discount }}</p>
        <!-- DB情報：クーポンの割引内容 -->
        {% if coupon.expiration_date != null %}
        <p>有効期限：～{{ coupon.expiration_date }}</p>
        <!-- DB情報：クーポンの有効期限 -->
        {% else %}
        <p>有効期限：無期限</p>
        <!-- DB情報：クーポンの有効期限がない場合 -->
        {% endif %}
      </div>
      <div class="coupon-meta">
        <p>利用率：⚫︎計算%</p>
        <!-- DB情報：クーポンの使用率 -->
        {% if coupon.max_issuance != null %}
        <p>発行済：{{ coupon.issued_count }}/{{coupon.max_issuance}}</p>
        {% else %}
        <p>発行済：{{ coupon.issued_count }}</p>
        {% endif %}
      </div>
      {% if coupon.expiration_date != null %}
      <a href="" class="coupon-list-button-primary"
        ><!-- href 確認 url.coupon_issue -->
        <span class="icon">&#9654;</span> クーポンを発行
      </a>
      {% elif coupon.expiration_date == today %}
      <p class="coupon-list-button-secondary">期限切れ</p>
      {% elif coupon.issued_count == coupon.max_issuance %}
      <p class="coupon-list-button-secondary">発行上限到達</p>
      {% endif %} {% endfor %}

      <!-- サンプル -->
      <div class="coupon-card">
        <div class="coupon-title"><h3>見た目確認用サンプル</h3></div>
        <div class="coupon-info">
          <p>商品名：coupon.product_name</p>
          <p>割引内容：coupon.discount</p>
          <p>有効期限：～coupon.expiration_date</p>
        </div>
        <div class="coupon-meta">
          <p>利用率：バックエンドで簡単な計算実施</p>
          <p>発行済：X/X</p>
        </div>
        <a href="" class="coupon-list-button-primary">
          <span class="icon">&#9654;</span> クーポンを発行
        </a>
      </div>
      <!-- サンプル終わり -->

      <!-- サンプル -->
      <div class="coupon-card">
        <div class="coupon-title"><h3>見た目確認用サンプル</h3></div>
        <div class="coupon-info">
          <p>商品名：coupon.product_name</p>
          <p>割引内容：coupon.discount</p>
          <p>有効期限：～coupon.expiration_date</p>
        </div>
        <div class="coupon-meta">
          <p>利用率：バックエンドで簡単な計算実施</p>
          <p>発行済：X/X</p>
        </div>
        <a href="" class="coupon-list-button-secondary">
          <p>期限切れ</p>
        </a>
      </div>
      <!-- サンプル終わり -->

      <!-- サンプル -->
      <div class="coupon-card">
        <div class="coupon-title"><h3>見た目確認用サンプル</h3></div>
        <div class="coupon-info">
          <p>商品名：coupon.product_name</p>
          <p>割引内容：coupon.discount</p>
          <p>有効期限：～coupon.expiration_date</p>
        </div>
        <div class="coupon-meta">
          <p>利用率：バックエンドで簡単な計算実施</p>
          <p>発行済：X/X</p>
        </div>
        <a href="" class="coupon-list-button-primary">
          <span class="icon">&#9654;</span> クーポンを発行
        </a>
      </div>
      <!-- サンプル終わり -->
    </div>
  </div>
</div>

{% endblock %}
