{% extends "base.html" %} {% load static %}

{% block extra_css %}
<link href="{% static 'css/verify.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="verification-container">
  <form class="verification-form"  novalidate>
    <div id="result-area" class="result-container"></div>
    <h3 id="title-area" class="verification-form-title">クーポンを認証</h3>
    <!-- QRコード用 -->
    <div id="camera-area" class="camera-wrapper">
      <video id="video" class="reader-video" autoplay playsinline></video>
      <canvas id="canvas" class="reader-canvas"></canvas>
      <div id="frame" class="scanner-frame"></div>
      <div id="close-qr" class="close-button"></div>
      <div class="start-container">
        <button type="button" id="start-qr" class="camera-button"></button>
        <p id="start-guide" class="camera-guide">QRコードで認証</p>
      </div>
    </div>
    <div id="qr-error-area" class="error-message"></div>
    <!-- QRコード用 -->
      <div id="manual-area">
        <label for="verification-code">クーポンコード</label>
        <input
        type="text"
        id="verification-code"
        name="verification-code"
        placeholder="コードを入力"
        required
        />
        <dev id="manual-error-area" class="error-message"></dev>
        <button type="button" id="manual-verify">使用済みにする</button>
      </div>
  </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/verify.js' %}"></script>
    <script src="{% static 'js/jsQR.js' %}"></script>
{% endblock %}
