@charset "UTF-8";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: var(--color-main-text-primary);
  background-color: var(--color-main-background-primary);
  box-sizing: border-box;
  min-height: 100vh;
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.main {
  min-height: 100vh;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: var(--color-layout-text-primary);
}

.button-primary {
  font-weight: 700;
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-background);
  border-radius: 10px;
}

.button-secondary {
  color: var(--color-button-secondary-text);
  background-color: var(--color-button-secondary-background);
  border: 2px solid var(--color-button-secondary-border);
  border-radius: 10px;
}

/* ログイン後 */
.is-authenticated .main {
  width: calc(100% - 222px);
}

.is-authenticated .layout {
  display: flex;
}

/* ログイン前 */
.is-guest .main {
  width: 100%;
}

/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 767px) {
  .is-authenticated .main {
    width: 100%;
    padding-top: 68px;
  }
}
