
.flatpickr-calendar {
  font-size: 1rem;
}

.flatpickr-day {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  max-width: none;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.flatpickr-calendar,
.flatpickr-days,
.dayContainer {
  width: auto;
  max-width: none;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month,
.flatpickr-current-month {
  top: 10px;
  height: auto;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 1rem;
  height: 1rem;
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  fill: #333333;
}

.flatpickr-months .flatpickr-month {
  height: 3rem;
}

.flatpickr-weekdays {
  height: 2rem;
}

span.flatpickr-weekday {
  font-size: .9rem;
  color: #444444;
}

.dayContainer {
  width: calc(7 * 2.75rem);
  min-width: calc(7 * 2.75rem);
}

.flatpickr-day.today {
  border: 2px solid #444444;
}

.flatpickr-day.selected {
  background-color: #428de7;
  border-color: #428de7;
}

.flatpickr-footer {
  text-align: right;
  margin-top: 15px;
}

.flatpickr-clear {
  padding: 10px;
  color: var(--color-main-text-primary);
}
