/* 共通部分 */


/* ログイン後 */
.is-authenticated .header {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: var(--color-layout-background-primary);
  width: 100%;
  height: 68px;
}

.is-authenticated .header .header-overlay {
  background-color: var(--color-layout-background-overlay);
  position: fixed;
  width: 100%;
  height: inherit;
}

.is-authenticated .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding-left: 20px;
  z-index: 1;
}

.is-authenticated .header .burger-icon {
  padding: 10px 20px;
}

.is-authenticated .burger-close-icon {
  display: none;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
}

.is-authenticated .burger-icon .image,
.is-authenticated .burger-close-icon .image {
  object-fit: cover;
  vertical-align: bottom;
}

.is-authenticated .mobile-header {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: var(--color-layout-background-primary);
  min-height: 100vh;
  overflow-y: scroll;
  padding: 68px 0 30px;
}

.is-authenticated .mobile-header .mobile-menu-overlay {
  background-color: var(--color-layout-background-overlay);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.is-authenticated .mobile-header .list {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  width: 100%;
  height: 100%;
}

.is-authenticated .header .mobile-header .button-primary {
  border: 2px solid var(--color-button-primary-border);
  padding: 5px 24px;
}

.is-authenticated .header .list .link {
  display: block;
  color: var(--color-layout-text-primary);
  margin-top: 30px;
  padding: 7px 10px;
}

.is-authenticated .header .list .link:nth-of-type(2) {
  margin-top: 41px;
}

.is-authenticated .header .list .link.is-disabled {
  color: rgba(255, 255, 255, 0.5);
}


/* ログイン前 */
.is-guest .header {}


/* ========================================================== */
/* レスポンシブ */

@media screen and (min-width: 768px) {
  .is-authenticated .header {
    display: none;
  }
}