.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}


/* form全体 */
.signup {
    background-color: var(--color-panel-background-primary);
    border-radius: 20px;
    width: 85%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px 20px;
}


/* アカウントタイトル調整 */
.signup__title {
    padding: 10px 0;
    text-align: center;
}

/* フィールド */
.signup__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.signup__field-label {
    margin-top: 10px;
    font-weight: bold;
}

.signup__field-input {
    width: 100%;
}

.signup__field-input input {
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

.signup__field-input input::placeholder {
    color: #222222;
}

/* ボタン配置 */
.signup__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/* 登録ボタン */
.button-primary {
    padding: 10px;
    max-width: 13rem;
    width: 100%;
    margin: 30px auto 0;
    display: inline-block;
}

.button-primary:hover {
    background-color: #0056b3;
    cursor: pointer;
    transform: translateY(-1px);
}

.button-primary:active {
    background-color: #004080;
    transform: translateY(1px);
}

/* 戻るボタン */
.button-secondary {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 13rem;
}

.button-secondary:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: translateY(-1px);
}

.button-secondary:active {
    background-color: #e0e0e0;
    transform: translateY(1px);
}

.password-wrapper {
    position: relative;
}

.password-wrapper input[type="password"] {
    padding-right: 1.4em;
}


.toggle-password {
    position: absolute;
    width: 24px;
    height: auto;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.logo {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
/* ========================================================== */
/* レスポンシブ-タブレット- */

@media (min-width: 768px) {
    .main {
        gap: 60px;
    }
    
}
