.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.verification-form {
  background-color: var(--color-panel-background-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.verification-form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-main-text-primary);
}

.verification-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--color-main-text-primary);
}

.verification-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
}

.verification-form button {
  width: 50%;
  padding: 10px;
  background-color: var(--color-button-primary-background);
  color: var(--color-button-primary-text);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.verification-form button:hover {
  background-color: #333;
}
