{% load static %}
<div class="sidebar">
  <div class="container">
    <h1 class="logo">VoucherZ</h1>
    <div class="account">
      <img class="image" src="{% static 'img/icon.png' %}" alt="">
      <p class="name">{{ user_name }}</p>
    </div>
    <nav class="nav">
      <a href="{% url 'coupon:coupon_verify_manual'}" class="button-primary">クーポンを認証</a>
      <div class="nav-links">
        <a href="{% url 'coupon:coupon_list'}" class="link">ホーム</a>
        <a href="javascript:void(0)" class="link is-disabled" aria-disabled="true">アカウント情報</a>
        <a href="javascript:void(0)" class="link is-disabled" aria-disabled="true">クーポン利用状況</a>
        <a href="javascript:void(0)" class="link is-disabled" aria-disabled="true">お問い合わせ</a>
        <a href="{% url 'account:logout'}" class="link">ログアウト</a>
      </div>
    </nav>
  </div>
</div>