{% extends 'account/base.html' %}
{% load static %}
{% block title %}ページが見つかりません{% endblock %}
{% block extra_css %}
<link href="{% static 'css/error.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="error">
  <div class="container">
    <h2 class="title">お探しのページが<br>見つかりませんでした</h2>
    <div class="description">
      <p class="text">お探しのページは別の場所に移動されたか、削除された可能性があります。</p>
      <p class="text">よろしければ、ホーム画面にお戻りください。</p>
      <a class="link button-primary" href="{% url 'coupon:coupon_list' %}">ホームに戻る</a>
    </div>
  </div>
</section>
{% endblock %}